@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+IN:wght@100..400&display=swap');

body{
    box-sizing: 0px;
    margin: auto;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000000
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar .logo i {
    font-size: 24px;
}

.navbar h2{
    color: #fff;
    margin-left: 20px;
    font-family: "Playwrite IN", serif;
}

.dropdown {
    margin-right: 150px; 
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}
.col-md-4 {
    padding: 10px;
}
