<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="/css/styles-help.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <i class="fas fa-book" style="color: #fff;"></i>
            <h2>My Library Online</h2>
        </div>
        <ul class="nav-menu">
            <li><a href="/index.html">Volver al inicio</a></li>
        </ul>
    </nav>

    <div class="flex">
        <div class="help">
            <h1 class="title">¿Necesitas ayuda?</h1>
            <h3 class="text">Acá te podemos ayudar</h3>
            <ul class="space">
                <li><strong>¿Cómo iniciar sesión?</strong></li>
                <span>Al ingresar a "My Library online", si ya mantienes un usuario creado, solo debes presionar la palabra "Iniciar Sesión", luego. Podrás disfrutar de una gran experiencia lectora</span><br>
                <li><strong>¿Cómo registrarme?</strong></li>
                <span>Al ingresar a "My Library online", presiona el boton de registrarse, dentro de la sección, tendrás que llegar tus datos, como: (Nombre, Apellido, Correo electrónico y contraseña), después inicia sesión y disfruta de la variedad de nuestros libros</span><br>
                <li><strong>¿Quiénes somos?</strong></li>
                <span>Somos un sitio web para tener las mejores experiencias lectoras con los mejores libros.</span><br>
            </ul>
        </div>
    </div>


</body>
</html>