<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina final IUJO</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <script defer src="/js/register.js"></script>
    <script defer src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

    <section>
        <div class="register-complete p-3">
            <form class="row g-3">
                <div class="title-register">
                    <h1>Registrarme</h1>
                </div>
                <div class="col-md-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ejem... Luis">
                </div>
                <div class="col-md-6">
                    <label for="lastname" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Ejem... Ortíz">
                </div>
                <div class="col-12">
                    <label for="registerEmail" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="registerEmail" placeholder="Ejem... luisortiz@email.com">
                </div>
                <div class="col-12">
                    <label for="registerPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="registerPassword" placeholder="Ingrese su contraseña...">
                </div>
                <div class="col-12 d-grid">
                    <button id="save" class="btn btn-primary">Registrarse</button>
                </div>
                <span>Ya tengo una cuenta... <a href="/templates/login.html">Iniciar sesión</a></span>
                <span><a href="/index.html">Volver al inicio</a></span>
            </form>
        </div>
    </section>



</body>
</html>